@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    background-color: #1b1c1c;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
}

a {
    text-decoration: none;
}

.title {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aquamarine;
    transition: 0.5s;
    z-index: 1;
}

.title:hover {
    transition: 1s;
    transform: translate(-50%, -50%) rotate(360deg);
}

.articleTitle {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: cornflowerblue;
    transition: 0.5s;
    z-index: -1;
}

.articleTitle:hover {
    transition: 1s;
    transform: translate(-50%, -50%) rotate(5deg);
}

.nav {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.hoover {
    transform: translate(0%,0%);
    color: plum;
    transition: 0.5s;
}

.hoover:hover {
    color: orchid;
    transition: 0.5s;
}

.articleHoover {
    transform: translate(-10%,0%);
    color: fuchsia;
    transition: 0.5s;
}

.articleHoover:hover {
    color: darkviolet;
    transition: 0.5s;
}

.article {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s;
    z-index: 0;
}

.hidden {
    opacity: 0;
    transition: 0.5s;
}

.visible {
    opacity: 1;
    transition: 0.5s;
}

.more {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: underline;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s;
    z-index: -1;
}

.more:hover {
    transition: 1s;
    transform: translate(-50%, -50%) rotate(5deg);
}

.less {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: underline;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s;
    z-index: -1;
}

.less:hover {
    transition: 1s;
    transform: translate(-50%, -50%) rotate(-5deg);
}

.sideImage {
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    z-index: -1;
}

.projects {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectImage {
    margin: 10px;
}

.projectImage:hover {
    transform: scale(1.1);
    transition: 0.5s;
}